/* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body h1,
h2,
h3 {
  font-family: "Archivo", sans-serif;
  color: #1d3557;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
  background-color: #fff;
  color: #1d3557;
}

header {
  background-color: #fff;
  color: #1d3557;
  padding: 1rem;
  text-align: left;
  padding-bottom: 0;
}

.logo {
  max-width: 100px;
  grid-column: 1/2;
  display: block;
  margin: auto;
}

header h1 {
  width: 100%;
  text-align: center;
  padding: 0;
  margin: 0;
}

header a {
  text-decoration: none;
}

.hero-box {
  text-align: center;
  margin-top: 1rem;
}

.hero-image {
  width: 100%;
  height: auto;
}

.hero-info {
  text-align: center;
  margin-top: 1rem;
}

.join-button {
  background-color: #1d3557;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
}

.join-button:hover {
  background-color: #e63946;
  font-weight: bold;
}

.events-card,
.weather-card,
.spotlights {
  background-color: #f1faee;
  padding: 1.5rem;
  margin: 1rem 0;
  border: 1px solid #1d3557;
  border-radius: 10px;
  margin: 1rem;
  font-size: 1rem;
}

.events-card h3 {
  margin-top: 0.5rem;
}

.spot1,
.spot2 {
  margin: 1rem;
  font-size: 1.1rem;
}

.event1,
.event2 {
  margin: 1rem;
}

footer {
  background-color: #1d3557;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

#menu-container {
  text-align: right;
  padding: 0px;
}

.navigation {
  background-color: #1d3557;
  padding: 1rem;
  text-align: center;
}

.navigation a {
  color: #fff;
  text-decoration: none;
  padding: 1rem;
  display: none;
  font-weight: bolder;
}

.navigation a:hover {
  background-color: #e63946;
  font-weight: bolder;
  color: #fff;
}

/* Hamburger Menu */
#menu {
  font-size: 2.5rem;
  border: 0;
  background: none;
  color: #e63946;
  padding: 0.5rem;
}

#menu::before {
  content: "☰";
  font-weight: 800;
}

#menu.open::before {
  content: "🔽";
  font-weight: 800;
  font-size: larger;
}

.open a {
  display: block;
}

#menu-container {
  z-index: 1000;
  display: flex;
  justify-content: center;
}

/* Discover */

.discover-images picture img {
  max-width: 400px;
  height: auto;
  width: 100%;
}

.discover-images picture img:hover {
  opacity: 0.5;
}

.discover-images {
  margin-top: 1rem;
}

.discover-main {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
}

.demographics,
.stats,
.events {
  padding: 2rem;
  border: 1px solid #1d3557;
  border-radius: 10px;
  margin: 1rem;
  background-color: #f1faee;
  color: #1d3557;
}

.demographics h3,
.stats h3,
.events h3 {
  text-align: center;
  padding-bottom: 1rem;
  font-size: 1.5rem;
}

.discover-main h2 {
  text-align: center;
  color: #1d3557;
  font-size: 2rem;
}

.discover-main h3 {
  text-align: center;
  font-size: 1.5rem;
}

.discover-visits {
  font-size: 1.2rem;
  color: #e63946;
}

/* Form Page */

.wf1 {
  margin-top: 2rem;
}

.wf1 fieldset {
  /* margin: 2rem 0; */
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 0.5rem 2%;
}

.wf1 legend {
  color: #1d3557;
  padding: 0 0.5rem;
  text-align: center;
}

.wf1 label {
  display: block;
  padding-top: 1rem;
  color: #1d3557;
  font-size: 0.9rem;
}

.wf1 div {
  padding-top: 1rem;
  color: #1d3557;
  font-size: 0.9rem;
}

.wf1 input[type="text"],
.wf1 input[type="tel"],
.wf1 input[type="email"] {
  background-color: #eee;
  display: block;
  border: solid 1px #999;
  border-radius: 6px;
  padding: 0.75rem;
  color: #1d3557;
  width: 100%;
  max-width: 400px;
  appearance: none;
}

.wf1 input[type="submit"] {
  border: none;
  background-image: linear-gradient(#9c2c13, #6f200e);
  color: #fff;
  border-radius: 6px;
  padding: 0.8rem;
  width: 96%;
  max-width: 400px;
  margin: -1rem 2% 2rem 2%;
  box-shadow: 1px 1px 4px #999;
  margin-top: 2rem;
}

.membershipDetails section {
  margin: 1rem;
  padding: 1rem;
}

/* Thank You Page */

.thankYouMain section {
  margin: 1rem;
  padding: 1rem;
}

.thankYouMain section a {
  line-height: 4rem;
}

#businessDescription {
  width: 80%;
}

/* Directory Page */

.grid-directory {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 5px;
  align-items: stretch;
  margin: 1rem;
}

.grid-directory img {
  width: 100%;
  height: auto;
}

.grid-directory section {
  border: 1px solid #1d3557;
  padding: 0.5rem;
  border-radius: 5px;
  font-size: 0.7rem;
  text-align: center;
  display: flex; /* Use flexbox for equal height items */
  flex-direction: column; /* Stack content vertically */
  justify-content: space-between; /* Distribute space evenly between items */
}

.grid-directory section > * {
  margin: 0.1rem;
  flex: 1; /* Grow to fill available space equally */
}

.grid-directory section h3,
.grid-directory section p {
  margin: 0;
}

.menu-buttons {
  margin: 1rem auto;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0.5rem;
  text-align: center;
}

.menu-buttons button {
  padding: 1rem;
  font-weight: 700;
}

/* Directory - List View */

.list-directory {
  display: flex;
  flex-direction: column;
}

.list-directory section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border: solid 1px #1d3557;
}

.list-directory section > * {
  margin: 0.5rem;
}

.list-directory section img {
  display: none;
}

.list-directory section h3 {
  font-size: 1rem;
  font-family: Roboto, Helvetica, sans-serif;
  text-align: left;
  margin-left: 1rem;
}

.list-directory section p {
  font-size: 1rem;
  font-family: Roboto, Helvetica, sans-serif;
  text-align: left;
  margin-right: 1rem;
}

.list-directory section a {
  justify-content: center;
  align-items: center;
}

.list-directory section:nth-child(even) {
  background-color: #f1faee;
}

/* Banner */

.banner {
  display: none; /* Initially hide the banner */
  width: 100%;
  background-color: #f8d7da;
  color: #721c24;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.close-btn {
  float: right;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: bold;
}

.close-btn:hover {
  color: #721c24; /* Example hover color */
}

/* Weather Card */

.weather-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 1rem;
  align-items: center;
  margin: 1rem;
}

.todayWeather {
  text-align: center;
  font-size: 1.2rem;
  order: 1;
}

.forecastCard {
  display: flex;
  gap: 1rem;
  justify-content: space-around;
  width: 100%;
  order: 2;
}

.day-card {
  flex: 1;
  background-color: #e63946;
  padding: 0.5rem;
  border-radius: 10px;
  text-align: center;
  color: white;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.weather-icon img {
  max-width: 100px;
}

.weather-card p {
  margin: 0.5rem 0;
}

/* Navigation - Active Page */

nav a.active-nav {
  color: #fff;
}

nav a.active-nav::before {
  content: "| ";
  color: #e63946;
}

nav a.active-nav::after {
  content: " |";
  color: #e63946;
}
